{% extends "base.html" %}
{% block titulo %}Inicio - Deportivos Quini{% endblock %}
{% block contenido %}
<div class="tarjeta">
    <h2>Bienvenido, {{ usuario.nombre_completo }}</h2>
    <p>Selecciona una estación:</p>
</div>
<div class="grid-2">
    <a class="boton" href="/produccion">Producción</a>
    <a class="boton" href="/ruteadores">Ruteadores</a>
    <a class="boton" href="/procesos">Procesos Finales (América)</a>
    <a class="boton" href="/embarque">Embarque (América)</a>
    <a class="boton boton-secundario" href="/admin">Administración</a>
</div>
{% endblock %}
